logging:
    file_name: {YOUR-LOG-PATH}/bok.log
    when: midnight
    interval: 1
    format: '%(asctime)s (%(filename)s %(lineno)d) %(levelname)s ::: %(message)s'
    level: logging.INFO
    backupCount: 5
